body {
  background-color: lightslategray;
}
.jumbotron {
  background-color: azure;
  background-position: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  font-style: oblique;
}
.container {
  text-align: left;
}

.col1 {
  text-indent: 3px;
  float: left;
  padding: 2px;
  margin: 2px;
}
.col2 {
  text-indent: 3px;
  float: left;
  padding: 2px;
  margin: 2px;
}
.col3 {
  text-indent: 3px;
  float: left;
  padding: 2px;
  margin: 2px;
}
.col-md-1 {
  text-align: left;
  margin: 30px;
}
.btn {
  padding: 20px;
  border-color: black;
  border-width: medium;
  padding: 10px 20px;
}
p {
  text-indent: 20px;
  text-align: left;
  font-weight: bold;
  font-family: fantasy;
  font-size: 15px;
}
.logo1 {
  padding: 2px;
  margin: 2px;
  float: left;
  display: inline-block;
}
.logo2 {
  padding: 2px;
  margin: 2px;
  float: center;
  display: in-line block;
}
.logo3 {
  padding: 2px;
  margin: 2px;
  float: right;
  display: inline-block;
}
#php {
  display: none;
}
#c-sharp {
  display: none;
}
#ruby {
  display: none;
}
.move {
  text-align: left;
  float: left;
}
