body {
  background-color: lightslategray;
}
.jumbotron {
  background-color: azure;
  background-position: center;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  font-style: oblique;
}
.container {
  text-indent: 3px;
  text-align: left;

}
.col-md-1 {
  text-align: left;
  margin: 30px;
}
.btn {
  padding: 20px;
  border-color: black;
  border-width: medium;
  padding: 10px 20px;
}
p {
  text-indent: 20px;
  text-align: left;
  font-weight: bold;
  font-family: fantasy;
  font-size: 15px;

}
.logo1 {
  padding: 5px;
  margin: 5px;
  float: center;
  display: inline-block;
}
.logo2 {
  padding: 5px;
  margin: 5px;
  float: center;
  display: inline-block;
}
.logo3 {
  padding: 5px;
  margin: 5px;
  float: center;
  display: inline-block;
}
